.contactCard {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(173, 173, 173, 0.5);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
}

.contactCard>i {
    font-size: 80px;
}

.contactCard:hover {
    opacity: 0.5;
}

.contactsContainer {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
}

.instagramColor {
    background: rgb(255, 0, 111);
}

.linkedinColor {
    background: #0A66C2;
}

.whatsappColor {
    background: #44A225;
}

.mailColor {
    background: #EA4335;
}

.is-animated {
    transition: all 0.3s;
}

@media only screen and (max-width: 1200px) {
    .contactCard {
        height: 100px;
        width: 100px;
    }

    .contactCard>i {
        font-size: 50px;
    }
}

@media only screen and (max-width: 700px) {
    .contactCard {
        height: 50px;
        width: 50px;
    }

    .contactCard>i {
        font-size: 30px;
    }
}